body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* Header styles */
.name {
  font-size: 24px;
  line-height: 36px;
  margin-left: 120px;
  margin-top: 80px;
}
/* Main Function styles */
/* First-section styles */
.first_section {
  display: flex;
  margin-left: 120px;
}
.d_one {
  width: 582px;
  height: 270px;
}
.d_two img {
  width: 440px;
  height: 415px;
  margin-left: 80px;
  position: relative;
}
.d_one h1 {
  font-size: 52px;
}
.d_one p {
  font-size: 16px;
  line-height: 24px;
  width: 505px;
  position: relative;
  top: -25px;
}
.d_one #button_one {
  background-color: #e02c6d;
  color: white;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 41px;
  position: relative;
  top: -13px;
  width: 196px;
}
.d_one #button_one:hover {
  background-color: #4a3fbd;
  transform: scale(1.2);
}
/* second section */
.second_section {
  margin-left: 120px;
}
.section_2_div_one {
  font-size: 28px;
  position: relative;
  left: 368px;
}
.parent_div_same {
  width: 300px;
  height: 420px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.parent_div {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-row-gap: 20px;
}
.parent_div_same h5 {
  font-size: 15px;
}
.parent_div_same img {
  width: 300px;
  height: 255px;
}
.parent_div_same .p1 {
  position: relative;
  top: -20px;
}
.parent_div_same .p2 {
  position: relative;
  top: -35px;
}
.parent_div_same .p2 span {
  font-size: 14px;
}
.parent_div_same .p3 {
  position: relative;
  top: -48px;
  color: #787885;
  font-size: 14px;
}
.fa-star {
  font-size: 14px;
}
.fa-star.filled {
  color: #fb8200;
}
.div_3 {
  position: relative;
  left: 904px;
  top: 20px;
}
.div_3 a {
  text-decoration: none;
  color: #e02c6d;
}
/* section 3 */
.third_sec {
  display: flex;
  margin-left: 120px;
  position: relative;
  top: 100px;
}
.third_sec img {
  width: 350px;
  height: 230px;
}
.third_sec_second {
  width: 580px;
  height: 224px;
  position: relative;
  left: 90px;
}
#button_two {
  background-color: #e02c6d;
  color: white;
  text-decoration: none;
  padding: 10px 24px;
  /* border-radius: 41px; */
  position: relative;
  width: 196px;
  top: 10px;
}
/* Footer styles */
footer h4 {
  position: relative;
  top: 21px;
  font-size: 20px;
  color: white;
}
#p_one {
  color: white;
}
#extra_p {
  position: relative;
  top: -15px;
  color: white;
}
footer {
  position: relative;
  top: 100px;
  text-align: center;
  background-color: black;
}
.icon {
  position: relative;
  top: -20px;
  right: -16px;
}
.last {
  color: white;
  margin-right: 30px;
}
/*
-------- Responsive -------
*/
@media only screen and (max-width: 688px) {
  .name h3 {
    color: rgb(221, 55, 166);
    position: relative;
    left: -25px;
  }
  .first_section {
    /* width: 100%; */
    flex-direction: column;
  }
  .d_one {
    width: 400px;
    height: 400px;
    position: relative;
    left: -30px;
  }
  .d_one p {
    width: 350px;
  }
  .d_two img {
    position: relative;
    top: 100px;
    left: -150px;
  }
  /* section 2nd */
  .second_section {
    width: 100%;
  }
  .section_2_div_one {
    position: relative;
    left: 50px;
    top: 70px;
  }
  .parent_div {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    top: 50px;
  }
  .div_3 {
    left: 230px;
    top: 60px;
  }
  /* Section_3 */
  .third_sec {
    flex-direction: column;
  }
  .third_sec_second {
    width: 350px;
    left: 7px;
    top: -10px;
  }
}
